<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>California Hotels</title>
</head>
<body>
    <h1>Hotels in California</h1>
    <ul>
        {{range .}}
        <li>{{.Name}} - {{.Address}} - {{.City}} - {{.Zip}} - {{.Region}}</li>
        {{end}}
    </ul>
</body>
</html>