The menu is:

Breakfast:
{{range .Breakfast}}
- {{.Title}}: {{.Description}} = {{.Price}} Euro
{{end}}

Lunch:
{{range .Breakfast}}
- {{.Title}}: {{.Description}} = {{.Price}} Euro
{{end}}

Dinner:
{{range .Breakfast}}
- {{.Title}}: {{.Description}} = {{.Price}} Euro
{{end}}